<div class="container text-center animated bounceInUp">
  <h1>My Projects</h1>
  <div class="jumbotron" id='about'>

    <!-- Portfolio Gallery Grid -->
    <div class="row">
      <div class="column">
        <div class="content">
          <h2>Disney HotStar Clone</h2>
          <img src="public/images/disney-plus.jpg" alt="Disney-Plus" style="width:60%">
          <p>This is the ReactJS Disney Plus Clone, The platform includes access to Disney Plus' original content,
            legacy Disney titles, and hundreds of other movies and series.</p>
          <p class="lead">
            <a href="https://github.com/DarshanBhagavath/Disney" target="_blank" rel="noopener noreferrer"><button
                type="button" class="btn btn-dark btn-lg"><b>View Details</b></button></a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="jumbotron" id='about'>
    <div class="column">
      <div class="content">
        <h2>Insurance Domain Projects</h2>
        <img src="public/images/Insurance.jpg" alt="Insurance" style="width:60%">
        <p>
        <h3>Full Stack Dot Net Developer</h3>
        </p>
        <p>Design and development of module.
          Continuous interaction with customers to understand the full functionality as this a French application.
          Doing the enhancements according to the customer requirement and performing code review.
          Preparing the Functional Requirements Document, Unit Test Case Document</p>
        <p>
        <h3>SSIS and SQL Developer</h3>
        </p>
        <p>Responsible for performing SQL development and SSIS /SSAS/SSRS development.
          Work with other developers to facilitate creation of high performing data centric components and applications.
          May act as Project Leader and/or may be involved in providing assistance and training to less senior
          developers.
          Review the designs, code, and test plans of other developers and provide recommendations for improvement or
          optimizations.</p>
      </div>
    </div>
  </div>
  <div class="jumbotron" id='about'>
    <div class="column">
      <div class="content">
        <h2> Other Sample Projec Includes:</h2>
        <h2>Rock Paper and Scissor</h2>
        <img src="public/images/RPS.jpg" alt="RPS" style="width:60%">
        <p>This rock-paper-scissors game illustrates the basic principles of an adaptive artificial intelligence
          technology. Like Afiniti, the system learns to identify patterns of a person's behavior by analysing their
          decision strategies in order to predict future behavior.</p>
        <p class="lead">
          <a href="https://github.com/DarshanBhagavath/Rock-Paper-and-Scissor" target="_blank"
            rel="noopener noreferrer"><button type="button" class="btn btn-dark btn-lg"><b>View Details</b></button></a>
        </p>
      </div>
    </div>
  </div>
  <div class="jumbotron" id='about'>
    <div class="column">
      <div class="content">
        <h2>Appointments WPF</h2>
        <img src="public/images/Appointments.jpg" alt="Appointments" style="width:60%">
        <p>An appointment is a formal date or plan to meet at the appointed time. The application is developed using WPF
          and C# concepts. Made use of concepts such as Binary writing and reading of a file, interfaces, .net libraries
          and the designed using a .net controls.</p>
        <p class="lead">
          <a href="https://github.com/DarshanBhagavath/Appointments" target="_blank" rel="noopener noreferrer"><button
              type="button" class="btn btn-dark btn-lg"><b>View Details</b></button></a>
        </p>
      </div>
    </div>
  </div>
</div>